<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <div>
          <form action="/animals/<%= animal._id %>?_method=PUT" method="post">
              <fieldset>
                  <legend>Edit <%= animal.species %></legend>
                  <label>
                      Name: 
                      <input 
                    type="text"
                    name="species"
                    placeholder="enter animal name" 
                    value="<%= animal.species %>"/>
                </label>
                <label>
                    Location: 
                    <input 
                  type="text"
                  name="location"
                  placeholder="enter animal location"
                  value="<%= animal.location %>"/>
              </label>
              <label>
                Life Expectancy: 
                <input 
              type="text"
              name="lifeExpectancy"
              placeholder="enter animal life expectancy"
              value="<%= animal.lifeExpectancy %>"/>
          </label>
                <label>
                    Extinct:
                    <input 
                    type="checkbox"
                    name="extinct"/>
                    <%= animal.extinct ? "checked" : "" %>
                </label>
                <input type="submit" value="Edit animal"/>
              </fieldset>
          </form>

        </div>
    </main>
</body>
</html>