<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <div>
            <article>
                <h2>
                    <%= animals.species %> - <%= animals.extinct ? "Alive" : "Dead" %> 
                    <br>
                   <a href="/animals/<%= animals._id%>/edit"><button>Edit</button></a>
                   <form action="/animals/<%= animals._id %>?_method=Delete" 
                   method="post">
                   <input type="submit" value="Delete"/>
                </form>
                </h2>
            </article>

        </div>
    </main>
</body>
</html>